.image{
    width: 90px;
    height: 90px;
}
body{
    background-color: #f6cefc;
}
.card{
    background-color: lavender;
}
h5{
    font-family: "blambot-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: "blambot-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-family: "nicholas", sans-serif;
font-weight: 800;
font-style: normal;
}